# The address for the server to listen on. If you want it to be reachable from any other host, use 0.0.0.0:port
HttpListenAddr = "localhost:3000"
# The listener reporter to use. Possible values: "log", "postgres"
Reporter = "log"
# Reverse proxies to trust with X-Forwarded-For values.
TrustedProxies = []
# If using a http reverse proxy with Default, set this to this server's IP. It will be added to the X-Forwarded-For header.
HttpLocalIp = "192.168.0.1"

[Postgres]
Host = "localhost"
Port = 5432
User = "no"
Password = "really, no"
Database = "myradio"
Schema = "listens"
MinListenTime = "10s"

[[HttpServers]]
BaseUrl = "https://example.com"
AllowedPaths = ["/live-high", "/live-high-ogg", "/live-mobile"]
